.App {
  text-align: center;
  background-image: linear-gradient(
    102.7deg,
    rgba(253, 218, 255, 1) 8.2%,
    rgba(223, 173, 252, 1) 19.6%,
    rgba(173, 205, 252, 1) 36.8%,
    rgba(173, 252, 244, 1) 73.2%,
    rgba(202, 248, 208, 1) 90.9%
  );

  cursor: url('./resources/nyancat.gif'), default;
}

/* button:hover {
cursor: url('./resources/spinningporo.gif'), pointer;
} */

button:hover {
  cursor: url("https://66.media.tumblr.com/9a4822e68993438e5d7e2c12771368f4/tumblr_inline_mfzguogCaB1qbs47q.png"), pointer;

  background-color: rgb(245, 239, 185);
}

.links {
  font-size: 1200px;
}

#header {
  border-bottom: solid;
  border-image: linear-gradient(to left, #97ffa0 0%, #faa0dc 25%, #fdf396 50%, #9af5e1 100%);
  border-image-slice: 1;
  border-width: 20px;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  color: rgb(48, 48, 48);
  height: 100px;
  width: auto;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 70px;
}

#poro {
  height: 230px;
  width: auto;
}

#poro
{
        opacity:1;
}
#poro:hover
{
        opacity:0.5;
        transform: scale(0.5);
}

#tix {
  height: 300px;
  width: auto;
  display: flex;
  margin: 0px 0 -200px 265px;
}

#tix:hover {
  transform: rotateZ(-30deg);
}

.newTripBox {
  /* border: 5px solid yellow; */
  padding-left: 20px;
  height: 700px;
  width: 800px;
  /* background-image: linear-gradient(to bottom right, rgb(255, 183, 212), rgb(183, 183, 255)); */
  background-image: linear-gradient(
    to bottom right,
    rgb(137, 250, 184),
    rgb(228, 161, 255)
  );
  margin: 20px 0px 20px 400px;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.locations {
  /* border: 5px solid purple; */
  height: 350px;
  width: 330px;
  margin: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: flex-start;
}

.searchAirports {
  font-size: 14px;
  height: 55px;
  width: 150px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: skyblue;
  outline: white;
  border-image: linear-gradient(to left, #faeca0 0%, #9af5e1 100%);
  border-image-slice: 1;
  border-width: 5px;
}

.searchAirports:hover {
  transform: scale(1.5)
}

.dateTime {
  /* border: 5px solid palevioletred; */
  height: 400px;
  width: 220px;
  margin: 20px;
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-around;
}

.departureDate {
  /* border: 5px solid navy; */
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.departureTime {
  /* border: 5px solid navy; */
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.arrivalDate {
  /* border: 5px solid navy; */
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.arrivalTime {
  /* border: 5px solid navy; */
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cabin {
  /* border: 5px solid lawngreen; */
  height: 50px;
  width: 200px;
  padding-top: 15px;
  margin-left: 420px;
}

.addTripBtn {
  border-image: linear-gradient(to left, #e8a0fa 0%, #9af5e1 100%);
  border-image-slice: 1;
  border-width: 5px;
  /* border-radius: 15px; */
  font-size: 25px;
  font-weight: 900;
  color: rgb(30, 57, 88);
  background-color: rgb(173, 255, 230);
  height: 50px;
  width: 200px;
  align-content: center;
  margin-left: 800px;
  outline: white;
}

.addTripBtn:hover {
  transform: scale(1.5);
}

input[type="text"] {
  padding: 10px 20px;
  width: 150px;
  border-radius: 20px;
  border: none;
  background-color: white;
  outline: white;
  text-align: center;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
}

input[type="time"] {
  padding: 5px 10px;
  width: 90px;
  border-radius: 20px;
  border: none;
  background-color: white;
  outline: white;
  text-align: center;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
}

input[type="date"] {
  padding: 5px 10px;
  width: 120px;
  border-radius: 20px;
  border: none;
  background-color: white;
  outline: white;
  text-align: center;
  font-size: 12px;
  font-family: "Josefin Sans", sans-serif;
}

.flight-card {
  /* border: 5px solid green; */
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  height: 70px;
  width: 1200px;
  border-radius: 20px;
  padding: 30px;
  margin: 10px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.flightcardcontainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.editButtons {
  height: 35px;
  width: 100px;
  margin: 6px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: rgb(197, 168, 250);
  outline: white;
}